.banner {
    height: 15rem;
    width: auto;
    background-color: rgb(155, 170, 245);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.reklama {
    height: 5rem;
    width: auto;
    background-color:rgb(27, 38, 92);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size:  45px;
    padding:2cm;
}
.reklama2 {
    height: 3rem;
    width: auto;
    background-color:rgb(27, 38, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    padding: 2 cm;
}
