.banner {
    height: 5rem;
    width: auto;
    background-color: rgb(155, 170, 245);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.reklama {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 30px;
}