.banner {
    height: 15rem;
    width: auto;
    background-color: rgb(155, 170, 245);
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.vocab {
    height: 5rem;
    width: auto;
    background-color: rgb(155, 170, 245);
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.reklama {
    height: 10rem;
    width: auto;
    background-color:rgb(27, 38, 92);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size:  45px;
    padding:2cm;
   
}
.reklama2 {
    height: 3rem;
    width: 100%;
    background-color:rgb(27, 38, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    padding: 2 cm;
    font-display: block;
    
}
.button{
        background-color: rgb(166, 166, 230)
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
